<h1><%= t('.sign_in') %></h1>

<% form_for :session, :url => session_path do |form| %>
  <fieldset>
    <%= form.label :email, t('user.email') %>
    <%= form.text_field :email %>
  </fieldset>
  <fieldset>
    <%= form.label :password, t('user.password') %>
    <%= form.password_field :password %>
  </fieldset>
  <fieldset>
    <%= form.submit "Sign in", :disable_with => t('buttons.wait') %>
  </fieldset>
<% end %>

<ul>
  <li><%= link_to t('users.new.title'), new_user_path %></li>
  <li><%= link_to t('.forgot_password'), new_password_path %></li>
</ul>