<%- @meta = { :title => h(extract_first_note_line(@transaction)), :description => '' } -%>
<h1><%=h extract_first_note_line(@transaction) %></h1>

<div class="grid_12">
	<div class="grid_3 alpha">
		<fieldset>
			<label>Filnavn:</label>
			<%= @annex.attachment_file_name %>
		</fieldset>
	</div>
	<div class="grid_3">
		<fieldset><label for="attachment_file_size">Størrelse:</label><%= @annex.attachment_file_size %> bytes</fieldset>
 </div>
	<div class="grid_3">
		<fieldset><label for="attachment_content_type">Content-type:</label><%= @annex.attachment_content_type %></fieldset>
 </div>
	<div class="grid_3 omega">
		<fieldset><label for="created_at">Dato:</label><%= @annex.created_at.strftime("%x") %></fieldset>
	</div>
</div>

<div class="quick-buttons">
	<%= link_to("Hent bilag", download_fiscal_year_transaction_annex_path(current_user.active_fiscal_year, @transaction, @annex), { :class => 'button' }) %>
</div>

<div id="attachment-frame">
	<%= render_annex(@annex) %>
</div>
