<%- @meta = { :title => extract_first_note_line(@transaction), :description => '' } -%>
<h1><%=h extract_first_note_line(@transaction) %></h1>

<fieldset>
	<label>Filnavn:</label>
	<%= @annex.attachment_file_name %>
</fieldset>
<fieldset><label for="attachment_file_size">Størrelse:</label><%= @annex.attachment_file_size %> bytes</fieldset>

<fieldset><label for="created_at">Dato:</label><%= @annex.created_at.strftime("%x") %></fieldset>

<div class="quick-buttons">
	<%= link_to("Hent bilag", download_fiscal_year_transaction_annex_path(current_user.active_fiscal_year, @transaction, @annex), { :class => 'button' }) %>
</div>

<div id="attachment-frame">
	<%- if @annex.attachment_content_type == 'application/pdf' -%>
		<iframe width="100%" height="480" src="<%= @annex.google_viewer_url %>"></iframe>
	<%- else -%>
		<%= format_as_plain_text(@annex) %>
	<%- end -%>
</div>
