<%- @meta = { :title => t('.title'), :description => t('.description') } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<%- form_for @user do |f| -%>
	<%= f.error_messages %>
	
	<fieldset>
		<%= f.label :company, t('user.company') + ' <span class="req">*</span>'%>
		<%= f.text_field :company %>
		<p class="hint">Firmanavn vises fx på udskrevne rapporter</p>
	</fieldset>
	
	<fieldset>
		<%= f.label :cvr, t('user.cvr') %>
		<%= f.text_field :cvr %>
	</fieldset>
	
	<fieldset>
		<%= f.label :active_fiscal_year, t('user.active_fiscal_year') %>
		<%= f.select(:active_fiscal_year, options_from_collection_for_select(@user.fiscal_years, 'id', 'name', @user.active_fiscal_year)) %>
	</fieldset>
	
	<fieldset>
		<%= f.label :password, t('user.password') %>
		<%= f.password_field :password %>
	</fieldset>

	<fieldset>
		<%= f.label :password_confirmation, t('user.password_confirmation') %>
		<%= f.password_field :password_confirmation %>
	</fieldset>
	
	<%= f.submit t('buttons.save') %>
<%- end -%>