<%- @meta = { :title => t('.title'), :description => t('.description') } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<% form_for @user do |f| %>
	<%= f.error_messages %>
	
	<fieldset>
		<h3><%= f.label :company, t('user.company') %></h3>
		<p>Dit firmanavn vises i toppen af hver side.</p>
		<%= f.text_field :company %>
	</fieldset>
	
	<fieldset>
		<%= f.label :cvr, t('user.cvr') %>
		<%= f.text_field :cvr %>
	</fieldset>
	
	<fieldset>
		<%= f.label :password, t('user.password') %>
		<%= f.password_field :password %>
	</fieldset>

	<fieldset>
		<%= f.label :password_confirmation, t('user.password_confirmation') %>
		<%= f.password_field :password_confirmation %>
	</fieldset>
	
	<%= f.submit t('buttons.save') %>
<% end %>