<tr id="<%= dom_id(posting) %>" class="posting row-editing">
	<td colspan="6">
		<div class="box">
		<% form_for([posting.fiscal_year, posting], :html => {:autocomplete => 'off'}) do |f| -%>
			<%= f.error_messages %>
			
			<table>
				<tr>
					<td>
						<fieldset>
							<%= f.label :customer_id, t('posting.customer_id') %>
							<%= f.text_field :customer_name %>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :created_at, t('posting.created_at') %>
							<%= date_select :posting, :created_at %><a id="date-pick" href="#"><%= image_tag('calendar-select.png') %></a>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :account_id, t('posting.account_id') + ' <span class="req">*</span>' %>
							<%= f.select :account_id, grouped_accounts, {:prompt => "Vælg konto"} %>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :amount, t('posting.amount') + ' <span class="req">*</span><span class="hint">' + t('posting.including_vat') + '</span>' %>
							<%= f.text_field :amount, :size => 10, :maxlength => 10, :class => 'amount-no-vat' %> <%= f.select :currency, Currency::SUPPORTED %>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td>
						<fieldset>
							<%= f.label :attachment_no, t('posting.attachment_no') %>
							<%= f.text_field :attachment_no, :size => 4, :maxlength => 4 %>
							<%- if (false && posting.pdf?) -%>
								<%= link_to('vis pdf', '#', :class => 'show-attachment') %>
							<%- end -%>
							<%- if posting.attachment? -%>
								<%= link_to('hent', download_fiscal_year_posting_path(current_user.active_fiscal_year, posting)) %>
							<%- end -%>
						</fieldset>
					</td>
					<td colspan="2">
						<fieldset>
							<%= f.label :note, t('posting.note') + (posting.attachment_email.blank? ? '' : (' - ' + link_to('vis e-mail', '#', :class => 'show-attachment-email'))) %>
							<%= f.text_area :note, :rows => 4, :cols => 60 %>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<label>Moms</label>
							<span id="vat" class="amount-vat">-</span>
						</fieldset>
					</td>
				</tr>
			</table>
			
			<%- if (false && posting.attachment?) -%>
				<div class="attachment">
					<iframe width="100%" height="480" src="<%= posting.google_viewer_url %>"></iframe>
				</div>
			<%- end -%>
			<%- unless posting.attachment_email.blank? -%>
				<div class="attachment-email">
					<pre><%= posting.attachment_email %></pre>
				</div>
			<%- end -%>
			
			<div class="inline-buttons">
				<%- if posting.new_record? -%>
				  <%= f.submit t('.buttons.save') %> <%= link_to(t('buttons.close'), fiscal_year_postings_path(current_user.active_fiscal_year), :class => 'close') %>
				<%- else -%>
					<%= f.submit t('.buttons.save') %> <%= link_to t('buttons.close'), fiscal_year_posting_path(current_user.active_fiscal_year, posting, :format => :js), :class => 'show' %>
					
					<div class="inline-actions"><%= link_to(t('buttons.delete'), [current_user.active_fiscal_year, posting], :class => 'delete') %> denne postering</div>
				<%- end -%>
			</div>
		<%- end -%>
		</div>
	</td>
</tr>