<tr id="<%= dom_id(posting) %>" class="posting">
	<td></td>
	<td colspan="5">
		<% form_for(posting, :html => {:autocomplete => 'off'}) do |f| -%>
			<%= error_messages_for :posting %>
			
			<div class="columns">
				<fieldset>
					<%= f.label :created_at, t('posting.created_at') %>
					<%= date_select :posting, :created_at %>
				</fieldset>

				<fieldset>
					<%= f.label :note, t('posting.note') %>
					<%= f.text_field :note, :size => 20, :maxlength => 250 %>
				</fieldset>

				<fieldset>
					<%= f.label :amount, (t('posting.amount') + ' (' + posting.currency + ')') %>
					<%= f.text_field :amount, :size => 10, :maxlength => 10 %>
					<span id="vat">-</span>
				</fieldset>

				<fieldset>
					<%= f.label :attachment_no, t('posting.attachment_no') %>
					<%= f.text_field :attachment_no, :size => 4, :maxlength => 4 %>
				</fieldset>

				<fieldset>
					<%= f.label :account_id, t('posting.account_id') %>
					<%= f.select :account_id, grouped_accounts, {:prompt => "Vælg konto"} %>
				</fieldset>

				<%= f.submit t('.buttons.save') %> <%= link_to t('.buttons.cancel'), posting_path(posting, :format => :js), :class => 'show' %>
			</div>
		<% end -%>
	</td>
</tr>