<tr id="<%= dom_id(posting) %>" class="posting <%= state_class(posting) %>">
	<td class="actions"><div><%= link_to('E', edit_posting_path(posting), :class => 'edit') %> <%= link_to('X', posting, :class => 'delete') %></div></td>
	<td><%=h posting.created_at.strftime("%d/%m-%Y") %></td>
	<td><%= link_to_attachment(posting) %></td>
	<td><%= note_for_overview(posting) %></td>
	<td><%= ("<span class=\"account_no\">#{posting.account.account_no}</span> #{h(posting.account.name)}") if posting.account %></td>
	<td><%= number_to_currency(posting.amount, :unit => posting.currency) if posting.account.account_type == Account::ACCOUNT_TYPES[:sell] %></td>
	<td><%= number_to_currency(posting.amount, :unit => posting.currency) if posting.account.account_type == Account::ACCOUNT_TYPES[:buy]  %></td>
</tr>