$("#<%= dom_id(@posting) %>").replaceWith("<%= escape_javascript(render(:partial => 'postings/edit', :locals => {:posting => @posting})) %>");

$(".amount-no-vat").trigger("keyup");

// bind events
$("#<%= dom_id(@posting) %> form").ajaxForm({	dataType: "script" });

// move to generic 'edit/create' function
$("#posting_customer_name").autocomplete(hurtigmoms.customers_url, {
	dataType: 'json',
	max: 25,
	scroll: true,
	scrollHeight: 190,
	parse: function(data) {
		return $.map(eval(data), function(row) {
			return {
				data: row.customer,
				value: '' + row.customer.id,
				result: row.customer.name
			}
		});
	},
	formatItem: function(customer, idx, total) {
		return "<div class=\"company\">" + customer.name + "</div>";
	}
});

// important to set this -after- autocomplete field
$("#<%= dom_id(@posting) %> form").focusFirstFormElement();

<%- if @posting.attachment? -%>
	$("#<%= dom_id(@posting) %> .show-attachment").click(function() {
		$("#<%= dom_id(@posting) %> .attachment").show();
		return false;
	});
<%- end -%>

<%- unless @posting.attachment_email.blank? -%>
	$("#<%= dom_id(@posting) %> .show-attachment-email").click(function() {
		$("#<%= dom_id(@posting) %> .attachment-email").show();
		return false;
	});
<%- end -%>

// initialise the "Select date" link
$('#date-pick')
	.datePicker({
    createButton: false,
		startDate: '01/01/2005',
		endDate: '31/12/2010'
	}).bind(
		'click',
		function() {
			updateSelects($(this).dpGetSelected()[0]);
			$(this).dpDisplay();
			return false;
		}
	).bind(
		'dateSelected',
		function(e, selectedDate, $td, state) {
			updateSelects(selectedDate);
		}
	).bind(
		'dpClosed',
		function(e, selected) {
			updateSelects(selected[0]);
		}
	);

var updateSelects = function(selectedDate) {
	var selectedDate = new Date(selectedDate);
	$('#<%= dom_id(@posting) %> #posting_created_at_3i option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
	$('#<%= dom_id(@posting) %> #posting_created_at_2i option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
	$('#<%= dom_id(@posting) %> #posting_created_at_1i option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
}

// listen for when the selects are changed and update the picker
$('#<%= dom_id(@posting) %> #posting_created_at_3i, #<%= dom_id(@posting) %> #posting_created_at_2i, #<%= dom_id(@posting) %> #posting_created_at_1i')
	.bind(
		'change',
		function() {
			var d = new Date(
  			$('#posting_created_at_1i').val(),
  			$('#posting_created_at_2i').val()-1,
  			$('#posting_created_at_3i').val()
				);
			$('#date-pick').dpSetSelected(d.asString());
	  }
	);

// default the position of the selects to today
// var today = new Date();
// updateSelects(today.getTime());

// and update the datePicker to reflect it...
$('#<%= dom_id(@posting) %> #posting_created_at_3i').trigger('change');