$("#postings").prepend("<%= escape_javascript(render(:partial => 'edit', :locals => {:posting => @posting})) %>");

$(".amount-no-vat").trigger("keyup");

// FIXME: bind events (similar to 'edit' refactor)
$("#<%= dom_id(@posting) %> form").bind("submit", function() {
	$(this).find("input[type=submit]").attr("disabled", "disabled");
	$(this).ajaxSubmit({ dataType: "script" });
	return false;
});

$("#posting_customer_name").autocomplete(hurtigmoms.search_customers_url, {
	dataType: 'json',
	max: 25,
	scroll: true,
	scrollHeight: 190,
	parse: function(data) {
		var rows = new Array();
		for (var i = 0; i < Math.min(data.length, 25); i++) {
			rows[i] = { data: data[i].customer, value: data[i].customer.id, result: data[i].customer.name };
		}
		return rows;
	},
	formatItem: function(item, idx, total) {
		return "<div class=\"company\">" + item.name + "</div>";
	}
});

// important to set this -after- autocomplete field
$("form.new_posting").focusFirstFormElement();

// initialise the "Select date" link
$('#date-pick')
	.datePicker({
    createButton: false,
		startDate: '01/01/2005',
		endDate: '31/12/2010'
	}).bind(
		'click',
		function() {
			updateSelects($(this).dpGetSelected()[0]);
			$(this).dpDisplay();
			return false;
		}
	).bind(
		'dateSelected',
		function(e, selectedDate, $td, state) {
			updateSelects(selectedDate);
		}
	).bind(
		'dpClosed',
		function(e, selected) {
			updateSelects(selected[0]);
		}
	);

var updateSelects = function(selectedDate) {
	var selectedDate = new Date(selectedDate);
	$('#<%= dom_id(@posting) %> #posting_created_at_3i option[value=' + selectedDate.getDate() + ']').attr('selected', 'selected');
	$('#<%= dom_id(@posting) %> #posting_created_at_2i option[value=' + (selectedDate.getMonth()+1) + ']').attr('selected', 'selected');
	$('#<%= dom_id(@posting) %> #posting_created_at_1i option[value=' + (selectedDate.getFullYear()) + ']').attr('selected', 'selected');
}

// listen for when the selects are changed and update the picker
$('#<%= dom_id(@posting) %> #posting_created_at_3i, #<%= dom_id(@posting) %> #posting_created_at_2i, #<%= dom_id(@posting) %> #posting_created_at_1i')
	.bind(
		'change',
		function() {
			var d = new Date(
  			$('#posting_created_at_1i').val(),
  			$('#posting_created_at_2i').val()-1,
  			$('#posting_created_at_3i').val()
				);
			$('#date-pick').dpSetSelected(d.asString());
	  }
	);

// default the position of the selects to today
// var today = new Date();
// updateSelects(today.getTime());

// and update the datePicker to reflect it...
$('#<%= dom_id(@posting) %> #posting_created_at_3i').trigger('change');