<%- if signed_in? -%>
	<ul>
		<li><%= link_to(t('layouts.application.sign_out'), sign_out_path) %></li>
		<li><%= link_to(t('layouts.application.home'), root_path) %></li>
	</ul>
<%- else -%>
	<ul>
		<!-- <li><%= link_to(t('layouts.application.sign_in'), sign_in_path) %></li>
		<li><%= link_to(t('layouts.application.sign_up'), sign_up_path) %></li>
		<li><%= link_to(t('layouts.application.api'), api_path) %></li>
		<li><%= link_to(t('layouts.application.tour'), tour_path) %></li> -->
		<li><%= link_to(t('layouts.application.home'), root_path) %></li>
	</ul>
<%- end -%>