<tr id="<%= dom_id(customer) %>" class="customer row-editing">
	<td colspan="3">
		<div class="box">
			<% form_for(customer, :html => {:autocomplete => 'off'}) do |f| %>
			  <%= f.error_messages %>

			  <fieldset>
					<%= f.label :name, t('customer.name') + ' <span class="req">*</span>' %>
			    <%= f.text_field :name %>
			  </fieldset>
			  <fieldset>
					<%= f.label :description, t('customer.description') %>
			    <%= f.text_area :description, :rows => 2 %>
			  </fieldset>

				<div class="inline-buttons">
					<%- if customer.new_record? -%>
					  <%= f.submit t('buttons.save') %> <%= link_to(t('buttons.close'), customers_path, :class => 'close') %>
					<%- else -%>
						<%= f.submit t('buttons.save') %> <%= link_to t('buttons.close'), customer_path(customer, :format => :js), :class => 'show' %>

						<div class="inline-actions">
							<div class="delete-question"><%= link_to(t('buttons.delete'), customer, :class => 'delete') %> denne kunde</div>
							<div class="delete-confirmation"></div>
						</div>
					<%- end -%>
				</div>
			
			<% end %>
		</div>
	</td>
</tr>