<tr id="<%= dom_id(customer) %>" class="customer row-editing">
	<td colspan="3">
		<div class="box">
			<%- form_for(customer) do |f| -%>
			  <%= f.error_messages %>

			  <p>
			    <%= f.label :name %><br />
			    <%= f.text_field :name %>
			  </p>
			  <p>
			    <%= f.label :description %><br />
			    <%= f.text_area :description, :rows => 4 %>
			  </p>
			  <p>
			    <%= f.submit 'Create' %> <%= link_to(t('buttons.close'), '#', :class => 'close') %>
			  </p>
			<%- end -%>
		</div>
	</td>
</tr>