<%- @meta = { :title => t('.title'), :description => t('.descriptino') } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<%- if @customers.empty? -%>

	<p>
		Du har ingen kunder registret i systemet.
	</p>
	
	<p>
		<%= link_to 'Tilføj kunde', new_customer_path, :class => 'button show' %>
	</p>

<%- else -%>

<div class="grid_9">
	<div class="quick-buttons">
		<%= link_to 'Tilføj kunde', new_customer_path, :class => 'new-customer button show' %>
	</div>	
	
	<table id="customers">
		<thead>
			<tr>
				<th></th>
				<th><%= t('customer.name') %></th>
			</tr>
		</thead>
		<tbody>
		<%= render @customers %>
		</tbody>
	</table>
</div>

<div class="grid_3">
	<div class="sidebar">
		<h3>Hvordan opretter jeg en kunde?</h3>
		<div>
			TBD
		</div>
	</div>
</div>

<%- end -%>