<%- @meta = { :title => t('.title'), :description => t('.description') } -%>

<div id="page-header" class="grid_12">
	<div class="grid_9 alpha">
		<h1><%= t('.title') %><span><%= t('.description') %></span></h1>
	</div>
	<div class="grid_3 omega">
		&nbsp;
	</div>
</div>

<div class="clear"></div>

<%- if @customers.any? -%>
	<div style="position: relative; overflow: hidden">
		<div class="vrule"></div>
		<div class="grid_9">
			<table id="customers" class="editable-table simple">
				<thead>
					<tr>
						<th class="name"><%= t('customer.name') %></th>
						<th class="income number" style="width: 20%"><%= t('customer.income') %></th>
						<th class="expense number" style="width: 20%"><%= t('customer.expenses') %></th>
					</tr>
				</thead>
				<tbody>
				<%= render @customers %>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"><%= will_paginate @customers, :previous_label => t('pagination.previous'), :next_label => t('pagination.next') %></td>
					</tr>
				</tfoot>
			</table>
		</div>
		<div class="grid_3">
			<div id="page-actions">
				<ul>
					<li class="separator">Kunder</li>
					<li><%= link_to('Tilføj kunde', new_customer_path, :class => 'new-customer button show') %></li>
				</ul>
			</div>
			<p>
				Indtægter og udgifter er gældende for <b><%=h current_user.active_fiscal_year.name %></b>.
			</p>
		</div>
	</div>
<%- else -%>
	<p>
		Du har ingen kunder registret i systemet.
	</p>

	<div class="quick-buttons">
		<%= link_to 'Tilføj kunde', new_customer_path, :class => 'new-customer button show' %>
	</div>	

	<table id="customers" class="editable-table"></table>
<%- end -%>