<%- @meta = { :title => t('.title'), :description => t('.descriptino') } -%>
(denne side er under udvikling)
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<style type="text/css">
#colorBox{}
	#cboxContent{background:#fff;}
		#cboxLoadedContent{margin-bottom:0px;}
		#cboxLoadingOverlay{background-position: center center;}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		$(".colorbox").colorbox({width: 670, initialWidth: 670, close: ''});
	});
</script>

<%- if @customers.empty? -%>

	<p>
		Du har ingen kunder registret i systemet.
	</p>
	
	<p>
		<%= link_to 'Ny kunde', new_customer_path, :class => 'colorbox button' %>
	</p>

<%- else -%>

<div class="grid_9">
	<div class="quick-buttons">
		<%= link_to 'Tilføj kunde', new_customer_path, :class => 'colorbox new-customer button' %>
	</div>	
	
	<table id="customers">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
		<%= render @customers %>
		</tbody>
	</table>
</div>

<div class="grid_3">
	<div class="sidebar">
		<h3>Hvordan opretter jeg en kunde?</h3>
		<div>
			TBD
		</div>
	</div>
</div>

<%- end -%>