<%- @meta = { :title => t('.title'), :description => t('.description') } -%>

<%- if @customers.any? -%>
	<div class="grid_12">
		<h1><%= t('.title') %><span><%= t('.description') %></span></h1>
		
		<div class="quick-buttons">
			<%= link_to 'Tilføj kunde', new_customer_path, :class => 'new-customer button show' %>
		</div>	

		<table id="customers" class="editable-table">
			<thead>
				<tr>
					<th><%= t('customer.name') %></th>
				</tr>
			</thead>
			<tbody>
			<%= render @customers %>
			</tbody>
			<tfoot>
				<tr>
					<td><%= will_paginate @customers, :previous_label => t('pagination.previous'), :next_label => t('pagination.next') %></td>
				</tr>
			</tfoot>
		</table>
	</div>
<%- else -%>
	<p>
		Du har ingen kunder registret i systemet.
	</p>

	<div class="quick-buttons">
		<%= link_to 'Tilføj kunde', new_customer_path, :class => 'new-customer button show' %>
	</div>	

	<table id="customers" class="editable-table"></table>
<%- end -%>