<div id="page-header" class="grid_12">
	<h1><%= t('.title') %><span><%= t('.description') %></span></h1>
</div>

<div class="grid_12">
	<% form_for(:user, :url => user_password_path(@user, :token => @user.confirmation_token), :html => { :method => :put }) do |form| %>
		<fieldset>
	    <%= form.label :password, t('user.password') %>
	    <%= form.password_field :password %>
	  </fieldset>
		<fieldset>
	    <%= form.label :password_confirmation, t('user.password_confirmation') %>
	    <%= form.password_field :password_confirmation %>
	  </fieldset>
		<fieldset>
	    <%= form.submit t('.buttons.save') %>
	  </fieldset>
	<% end %>
</div>