<%- @meta = { :title => t('.title'), :description => t('.description') } -%>

<div id="page-header" class="grid_12">
	<h1><%= t('.title') %><span><%= t('.description') %></span></h1>
</div>

<div class="grid_12">
	<%= form_for :password, :url => passwords_path do |form| %>
		<fieldset>
	    <%= form.label :email, t('user.email') %>
	    <%= form.text_field :email %>
	  </fieldset>
		<fieldset>
	    <%= form.submit t('.buttons.reset') %>
	  </fieldset>
	<% end %>
</div>