<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<div class="grid_9">
	<h3>Transaktioner</h3>
	<ul>
		<li><a href="">Hvad er en transaktion?</a></li>
		<li><a href="">Hvordan opretter jeg en transaktion?</a></li>
		<li><a href="">Hvordan redigerer jeg en transaktion?</a></li>
		<li><a href="">Hvordan fjerner jeg en transaktion?</a></li>
	</ul>
	
	<h3>Posteringer</h3>
	<ul>
		<li><a href="">Hvad er en postering?</a></li>
		<li><a href="">Hvordan opretter jeg en postering?</a></li>
		<li><a href="">Hvordan redigerer jeg en postering?</a></li>
		<li><a href="">Hvordan fjerner jeg en postering?</a></li>
	</ul>

	<h3>Konti</h3>
	<ul>
		<li><a href="">Hvad er en konto?</a></li>
		<li><a href="">Hvordan opretter jeg en konto?</a></li>
		<li><a href="">Hvordan redigerer jeg en konto?</a></li>
		<li><a href="">Hvordan fjerner jeg en konto?</a></li>
	</ul>
	
	<h3>Bogføring</h3>
	<ul>
		<li><a href="#accountplan">Kontoplan</a></li>
		<li><a href="http://example.com/">Kassekladde</a></li>
		<li><a href="http://example.com/">Faktura</a></li>
		<li><a href="http://example.com/">Debitorer og kreditorer</a></li>
		<li><a href="http://example.com/">Debitormodul i et bogføringsprogram</a></li>
		<li><a href="http://example.com/">Kreditormodul i et bogføringsprogram</a></li>
		<li><a href="#exchange-rates">Valutakurser</a></li>
	</ul>
	
	<p>For at komme i gang med den daglige systematisering af regnskabsbilag er det vigtigt at kende de mest brugte værktøjer. Ligegyldigt hvilket bogføringsprogram du bruger, er det godt at kende til begreberne kontoplan og kassekladde samt debitor og kreditor.</p>
	
	<h4 id="accountplan">Kontoplan</h4>
	<p>En kontoplan er en måde at opdele en virksomheds økonomiske aktiviteter på, så de bliver lettere at overskue. Formålet med en kontoplan er at have en fast struktur i de konti, der oprettes i bogholderiet.</p>
	
	<p>Ofte bliver kontoplanen opdelt i konti der indeholder:</p>
	<ul><li>Virksomhedens daglige drift - indtægter og udgifter</li><li>Virksomhedernes aktiver - hvor meget er virksomheden værd</li><li>Virksomhedens passiver - hvor meget skylder virksomheden</li></ul><p>Bogføringslovgivningen kræver, at du har en hensigtsmæssig kontoplan, men bortset fra enkelte specifikke regler om fx momsregnskabet, er der ingen lovbestemmelser omkring kontoplanens indhold og opbygning.<br/>En kontoplan er opbygget af grupper indenfor drift, aktiver og passiver. Vareforbrug er et eksempel på en bogføringsgruppe med tilhørende underkategorier.<br/><br/></p>
	<p>Når man bruger en standard kontoplan til praktisk bogføring, er det vigtigt at have overblik over kontoplanens opbygning i grupper:<br/>Hvilken gruppe hører den givne postering hjemme i? <br/>Hvilken bogføringskonto indenfor denne gruppe skal anvendes?</p>
	<p>I en kontoplan er der ofte konti med betegnelser, der ligger tæt op ad hinanden i forskellige grupper. I visse tilfælde kan der måske endda være konti med helt identiske betegnelser. Derfor er det meget vigtigt, at man vælger denne fremgangsmåde.</p>
	
	<h4>Kassekladde</h4>
	<p>Kassekladden benyttes til indtastning af posteringer. Man kan således indtaste et større eller mindre antal posteringer i kladdeform, udskrive disse på en liste til korrekturlæsning og derefter rette, slette og tilføje efter behov.Først når du er færdig med kassekladden, bliver den bogført. Herefter er det slut med at rette i bogføringen. Eventuelle fejl kan fra nu af, kun rettes ved at danne en ny postering med samme beløb, med modsat fortegn - en såkaldt modpost.</p>
	
	<h4>Faktura</h4>
	<p>Når du sælger momspligtige varer eller ydelser til andre erhvervsdrivende, skal du altid udarbejde en faktura.<br/><br/>En faktura skal indeholde følgende oplysninger:</p>
	<ul><li>Fakturanummer</li><li>Dato for udstedelse</li><li>Sælgers navn og adresse samt CVR-nummer</li><li>Kundens navn og adresse</li><li>Varens art, mængde og pris</li><li>Momsbeløbet.</li></ul><p>Hvis din virksomhed udsteder en kassebon, skal den indeholde:<br/>Virksomhedens navn eller CVR-nummer <br/>Den samlede salgspris inklusive moms.<br/><br/>Du kan bruge Virk.dk til at sende en elektronisk faktura direkte til en myndighed eller det offentlige.<br/>Link til NemHandel Fakturablanket på Virk.dk</p>
	
	<p><strong>Debitorer og kreditorer</strong><br/>For at holde styr på dine debitorer og kreditorer er det vigtigt, at du er systematisk. Du kan skabe overblik over dine debitorer og kreditorer i henholdsvis et kundekartotek og et leverandørkartotek. Det vil også være dit grundlag for udsendelse af fakturaer og betaling af regninger.</p>
	
	<p><strong>Debitormodul i et bogføringsprogram</strong><br/>Som erhvervsdrivende er du afhængig af rettidige indbetalinger fra din virksomheds kunder. Med den rette debitorstyring i fx et debitormodul undgår du at miste penge på fakturaer, der er glemt.<br/>Et debitormodul i et bogføringsprogram indeholder et kundekartotek, der i de fleste systemer også kan udskrive fakturaer. Fakturaerne bogføres automatisk på debitorkontoen i kundekartoteket.<br/>I debitormodulet findes der andre muligheder til debitorstyring, fx renteberegning, som man kan benytte alt efter behov.<br/>Der findes også en lang række andre funktioner, fx oplysninger til brug for salgsstatistikker.</p>
	
	<p><strong>Kreditormodul i et bogføringsprogram</strong><br/>Det koster renter og gebyrer at betale kreditorer for sent, og betales regningerne for tidligt koster det dig likviditet og dermed renteudgifter på kassekreditten. Derfor er det vigtigt, at du får overblik over dine kreditorer.<br/>Et kreditormodul i et bogføringsprogram indeholder et leverandørkartotek, hvor du kan styre dine betalinger til leverandører.<br/>I dette modul findes der også funktioner til brug for købsstatistikker.</p>
	
	<h4 id="exchange-rates">Valutakurser</h4>
	<p>
		Følgende kurser benyttes ved konvertering af udenlandsk valuta til danske kroner.
	</p>
	<table>
		<thead>
		<tr>
			<th>Valuta</th>
			<th>Kurs</th>
			<th>Senest opdateret</th>
		</tr>
		</thead>
		<tbody>
		<%- @exchange_rates.each do |er| -%>
			<tr>
				<td><%= er.currency %></td>
				<td><%= er.rate %></td>
				<td><%= er.updated_at.strftime("%d/%m-%Y kl. %H:%M") %></td>
			</tr>
		<%- end -%>
		</tbody>
	</table>	
</div>

<div class="grid_3">
	<h3>Yderligere support?</h3>
	<p>
		Kan du ikke finde svaret på dit spørgsmål? Du er velkommen til at kontakte os, 
		vi er altid klar til at hjælpe dig med eventuelle spørgsmål.
	</p>
	
	<p class="hint">E-mail</p>
	support@hurtigmoms.dk
	
	<p class="hint">Telefon</p>
	+45 6171 5096
	
	</ul>
</div>