<%- @meta = { :title => 'hurtig moms - bogføring for den lille virksomhed', :description => '', :blank_header => true } -%>

<%- if signed_in? -%>
	<h1>Oversigt</h1>
	
	<%- if @action_required -%>
		<div class="action-required">
			<p>
				Du har <%= link_to('transaktioner', fiscal_year_transactions_path(current_user.active_fiscal_year)) %> der kræver handling.
			</p>
		</div>
	<%- else -%>
		<div class="blank-slate">
			<p>
				Du har ingen beskeder eller punkter der kræver handling.
			</p>
		</div>
	<%- end -%>
	
	<%- if @latest_import && (1.month.ago > @latest_import.created_at) -%>
	  <div>
	    <p>
	      Det er mere end een måned siden du importerede dine kontoudtog fra banken.
	    </p>
	    <p>
	      For at lette bogføringen anbefales det, at importere kontoudtog jævnligt
	      så hvis du henter et nyt kontoudtog fra din bank, kan du genbruge dine 
	      indstillinger fra sidste importering og måske gøre det med det samme.
	    </p>
	  </div>
	<%- end -%>

	<div class="quick-start">
		<h3>Kom hurtigt i gang</h3>
		<ol>
			<li><%= link_to('Tilføj indtægter og udgifter', fiscal_year_transactions_path(current_user.active_fiscal_year)) %></li>
			<li><%= link_to('Tilpas din kontoplan', accounts_path) %></li>
			<li><%= link_to('Konfigurer dine debitorer', customers_path) %></li>
			<!-- <li><%= link_to('Indlæs dine kontoudtog', new_posting_import_path) %></li> -->
		</ol>
	</div>
	
<%- else -%>

	<div id="h" class="menubar">
		<div class="container_12">
			<div class="grid_6 navigation">
				<ul>
					<li class="application-name">hurtigmoms</li>
				</ul>
			</div>
			<div class="grid_6 search">
				<ul>
					<li><%= link_to("log ind", new_session_path) %></li>
				</ul>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="intro">
		<div class="container_12">
			<div class="grid_12">
				<h1>effektiv bogføring</h1>
				<h3>et enkelt og let system for den lille virksomhed</h3>
			</div>
		</div>
	</div>
	
	<div class="container_12">
		<div class="grid_6">
		  <div class="callout">
		    <p>
					Har du behov for et online bogføringssystem der ikke kræver, man 
					er revisor? Så er <b>hurtigmoms</b> lige noget for dig!
				</p>
				<p>
					Du behøver ikke at have kendskab til kassekladde, afsteming, dobbelt
					bogholderi princippet, etc for at benytte hurtigmoms. Du ledes 
					igennem alle led nødvendigt for at få lavet et fuldt momsregnskab 
					eller endda årsrapport.
				</p>
		  </div>
		</div>
		<div class="grid_6">
			<div style="background-color: #ffc; padding: 20px; margin-top: -80px">
			<h2>Vær hurtig og tilmeld dig gratis nu!</h2>
			<p>
				Hurtigmoms er i <b>beta</b> og det er derfor gratis at tilmelde sig. 
				Du kan enten vælge at:
			</p>
			<ol>
				<li>sende os et bilag på <code>bilag@hurtigmoms.dk</code> og 
				vi opretter en konto til dig inden for et minut.</li>
				<li>benytter vores <%= link_to('tilmeldingsformular', sign_up_path) %></li>
			</ol>
			</div>
		</div>
		
		<div class="grid_12">
			<!--
			<h4>Unik understøttelse for emails</h4>
			<p>
				Hurtigmoms har en unik funktion der gør det muligt at kigge intelligent på 
				mails du videresender til os. Hvis du fx sender din månedlige "Basecamp" 
				faktura udtrækkes automatisk faktura dato, beløb, valuta samt beskrivelse 
				fra mailen og denne indsættes som en ny postering på dit regnskab. Vi sætter
				endda typen som værende "Varekøb, udland" så moms ikke bliver tillagt.
			</p>
	
			<p>
			  Indtil videre understøttes Harvest, GitHub, Campaign Monitor, GratisDNS, 
			  Basecamp og Spotify, men der tilføjes nye hver dag. Skriv til os hvis du 
			  ønsker at din mail kan forstås af hurtigmoms.
			</p>
			-->
		</div>

		<div class="clear"></div>
		
		<div id="f">
			Udviklet af <%= link_to('Commanigy ApS', 'http://commanigy.com/') %>
		</div>
		
	</div>
<%- end -%>