<%- @meta = { :title => 'Bogføring for den lille virksomhed', :description => '', :blank_header => true } -%>

<%- if signed_in? -%>
	<div id="page-header" class="grid_12">
		<h1>Overblik for <%=h current_user.active_fiscal_year.name %></h1>
	</div>
	
	<div class="grid_12">
		<%- if @action_required -%>
			<div class="action-required">
				<%- if @incomplete_transactions.any? -%>
					<p>
						Du har <%= link_to('transaktioner', fiscal_year_transactions_path(current_user.active_fiscal_year)) %> der kræver handling.
					</p>
				<%- end -%>
				
				<%- if @transactions_without_related_transactions.any? -%>
					<div id="without-related-transactions">
						<h3>Manglende bilag for automatisk bankafstemning</h3>
						<p>
							Du har <%= pluralize(@transactions_without_related_transactions.length, 'betalingstransaktion', 'betalingstransaktioner') %>
							der ikke har en tilhørende købs- eller salgstransaktion. For at 
							lette arbejdet med bankafstemningen, er det ikke muligt at bogføre
							forud hvorfor det derfor er nødvendigt at afstemme disse 
							transaktioner først.
						</p>
						<%= link_to('Vis transaktionerne', '#', :id => 'display-transactions-without-relations') %>
						<div id="transactions-without-relations" style="display: none">
							<ul>
								<% @transactions_without_related_transactions.each do |t| %>
									<li><%= t.created_at.strftime("%d/%m-%Y") + ' - ' + h(t.note) + ' - ' + number_to_currency(t.amount, :unit => current_user.default_currency) %></li>
								<%- end -%>
							</ul>
						</div>
					</div>
				<%- end -%>
				
				<%- if @transactions_with_wrong_fiscal_year.any? -%>
					<div id="wrong-fiscal-year">
						<h3>Transaktioner uden for regnskabsåret</h3>
						<p>
							Du har <%= pluralize(@transactions_with_wrong_fiscal_year.length, 'transaktion', 'transaktioner') %> 
							der har en faktura- eller betalings-dato uden for dit valgte regnskabsår (<%= current_user.active_fiscal_year.name %>).
						</p>
				
						<p>
							<%= link_to('Vis transaktionerne', '#', :id => 'display-transactions-with-wrong-fiscal-year') %>
						</p>
				
						<div id="transactions-with-wrong-fiscal-year" style="display: none">
							<ul>
								<% @transactions_with_wrong_fiscal_year.each do |t| %>
									<li><%=h t.created_at.strftime("%d/%m-%Y") + ' - ' + t.note %></li>
								<%- end -%>
							</ul>
						</div>
				
						<%- if @other_fiscal_years.any? -%>
							<p>
								Vælg det regnskabsår du ønsker at flytte transaktionerne til.
							</p>
							<%= form_tag(auto_correct_fiscal_year_transactions_path(current_user.active_fiscal_year)) %>
								<ul>
									<%- @other_fiscal_years.each do |fy| -%>
										<li><%= radio_button_tag 'corrected_fiscal_year_id', fy.id %><label for="<%= 'corrected_fiscal_year_id_' + fy.id.to_s %>"><%=h fy.name %></label></li>
									<%- end -%>
								</ul>
								<%= submit_tag "Flyt" %>
							</form>
						<%- else -%>
							<p>
								Ønsker du at oprette et nyt regnskabsår og flytte disse transaktioner over?
							</p>
							<%= form_tag(auto_correct_fiscal_year_transactions_path(current_user.active_fiscal_year)) %>
								<%= hidden_field_tag 'corrected_fiscal_year_id', '-1' %>
								Ja, <%= submit_tag "overfør transaktionerne" %> til et nyoprettet regnskabsår.
							</form>
						<%- end -%>
					</div>
				<%- end -%>
			</div>
		<%- else -%>
			<div class="blank-slate">
				<p>
					Du har ingen beskeder eller punkter der kræver handling.
				</p>
			</div>
		<%- end -%>
	
		<%- if @latest_import && (1.month.ago > @latest_import.created_at) -%>
		  <div>
		    <p>
		      Det er mere end een måned siden du importerede dine kontoudtog fra banken.
		    </p>
		    <p>
		      For at lette bogføringen anbefales det, at importere kontoudtog jævnligt
		      så hvis du henter et nyt kontoudtog fra din bank, kan du genbruge dine 
		      indstillinger fra sidste importering og måske gøre det med det samme.
		    </p>
		  </div>
		<%- end -%>

		<div class="quick-start">
			<h3>Kom hurtigt i gang</h3>
			<ol>
				<li><%= link_to('Tilføj en indtægter eller udgifter', fiscal_year_transactions_path(current_user.active_fiscal_year)) %></li>
				<!-- <li><%= link_to('Tilpas din kontoplan', accounts_path) %></li> -->
				<li><%= link_to('Tilpas dine kunder', customers_path) %></li>
				<!-- <li><%= link_to('Indlæs dine kontoudtog', new_posting_import_path) %></li> -->
			</ol>
		</div>
	</div>
	
	<%- content_for :js do -%>
		$("#display-transactions-with-wrong-fiscal-year").live("click", function() {
			$(this).hide();
			$("#transactions-with-wrong-fiscal-year").slideDown();
			return false;
		});
		$("#display-transactions-without-relations").live("click", function() {
			$(this).hide();
			$("#transactions-without-relations").slideDown();
			return false;
		});
	<%- end -%>
	
<%- else -%>

	<div class="intro">
		<div class="container_12">
			<div class="grid_12">
				<h1>hurtigmoms</h1>
				<h3>intelligent bogføring for din virksomhed</h3>
			</div>
		</div>
	</div>
	
	<div class="container_12">
		<div class="grid_7">
		  <div class="callout">
		    <p>
					Har du behov for et online bogføringssystem der gør alt arbejdet
					for dig? Så er <b>hurtigmoms</b> systemet du har brug for.
				</p>
				<p>
					Du behøver ikke at have kendskab til kassekladde, bankafstemning,
					dobbelt bogholderi princippet, osv. for at komme igang. Følger du
					blot vores anvisninger og strukturerer din arbejdsgang herefter kan
					systemet lave et fuldt momsregnskab og endda din årsrapport helt
					automatisk.
				</p>
				<p>
					Det er intelligent bogføring.
				</p>
		  </div>
		</div>
		<div class="grid_5">
			<div class="signup-box">
				
				<!-- <form action="http://commanigy.createsend.com/t/y/s/hduruy/" method="post">
				<div>
				<label for="name">Name:</label><br /><input type="text" name="cm-name" id="name" /><br />
				<label for="hduruy-hduruy">Email:</label><br /><input type="text" name="cm-hduruy-hduruy" id="hduruy-hduruy" /><br />

				<input type="submit" value="Skriv mig op" />
				</div>
				</form> -->
				
				<h2>Prøv det gratis i 60 dage</h2>
				<p>
					Hurtigmoms er i <b>beta</b> og det er derfor gratis at tilmelde sig. 
					Du kan enten vælge at:
				</p>
				<ol>
					<li>sende et bilag på <code>bilag@hurtigmoms.dk</code> og 
					vi opretter en konto til dig inden for et minut.</li>
					<li>benytter vores <%= link_to('tilmeldingsformular', sign_up_path) %></li>
				</ol>
				<p>
					Allerede bruger? <%= link_to("Log ind", new_session_path) %> med det
					samme.
				</p>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<!-- <div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" alt="Visning af alle transaktioner" /></a></div></div>
		<div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" /></a></div></div>
		<div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" /></a></div></div>
		
		<div class="clear"></div> -->
		
		<div class="grid_12">
			<!--
			<h4>Unik understøttelse for emails</h4>
			<p>
				Hurtigmoms har en unik funktion der gør det muligt at kigge intelligent på 
				mails du videresender til os. Hvis du fx sender din månedlige "Basecamp" 
				faktura udtrækkes automatisk faktura dato, beløb, valuta samt beskrivelse 
				fra mailen og denne indsættes som en ny postering på dit regnskab. Vi sætter
				endda typen som værende "Varekøb, udland" så moms ikke bliver tillagt.
			</p>
	
			<p>
			  Indtil videre understøttes Harvest, GitHub, Campaign Monitor, GratisDNS, 
			  Basecamp og Spotify, men der tilføjes nye hver dag. Skriv til os hvis du 
			  ønsker at din mail kan forstås af hurtigmoms.
			</p>
			-->
		</div>

		<div class="clear"></div>
		
		<div id="f">
			Udviklet af <%= link_to('Commanigy', 'http://commanigy.com/') %> 
		</div>
		
		<%- content_for :js do -%>
			$("a.elastic").fancybox({
				"titleShow"     : false,
				"transitionIn"	: "elastic",
				"transitionOut"	: "elastic"
			});
		<%- end -%>
		
	</div>
<%- end -%>