<%- @meta = { :title => 'Bogføring for den lille virksomhed', :description => '', :blank_header => true } -%>

<div class="intro">
	<div class="container_12">
		<div class="grid_12">
			<h1><a href="/"><%= t('application.name') %></a></h1>
			<h3>intelligent bogføring for mindre virksomheder</h3>
		</div>
	</div>
</div>

<div class="container_12">
	<div class="grid_7">
	  <div class="callout">
	    <p>
				Har du behov for et online bogføringssystem der gør alt arbejdet
				for dig? Så er <b>hurtigmoms</b> systemet du har brug for.
			</p>
			<p>
				Du behøver ikke at have kendskab til kassekladde, bankafstemning,
				dobbelt bogholderi princippet, osv. for at komme igang. Følger du
				blot vores anvisninger og strukturerer din arbejdsgang herefter kan
				systemet lave et fuldt momsregnskab og endda din årsrapport helt
				automatisk.
			</p>
			<p>
				Det er intelligent bogføring.
			</p>
	  </div>
	</div>
	<div class="grid_5">
		<div class="signup-box">
			
			<h2>Tilmeld dig vores beta</h2>
			<p>
				<%= t('application.name') %> er for øjeblikket i lukket beta hvilket 
				betyder, at du ikke kan oprette en konto. Du er dog velkommen til at
				tilmelde dig vores beta og vi vil sende dig en mail når det er muligt
				at oprette en konto.
			</p>
			<p>
				<form action="http://commanigy.createsend.com/t/y/s/hduruy/" method="post">
				<div>
					<fieldset>
						<label for="name">Navn:</label> <input type="text" name="cm-name" id="name" />
					</fieldset>
					<fieldset class="last">
						<label for="hduruy-hduruy">E-mail:</label> <input type="text" name="cm-hduruy-hduruy" id="hduruy-hduruy" />
					</fieldset>

					<div class="clear"></div>
					
					<input type="submit" value="Tilmeld" /> og få en mail når vi åbner
				</div>
				</form>
			</p>
			<p>
				Er du allerede bruger? <%= link_to("Log ind", new_session_path) %> med det
				samme.
			</p>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<!-- <div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" alt="Visning af alle transaktioner" /></a></div></div>
	<div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" /></a></div></div>
	<div class="grid_4"><div class="shot"><a class="elastic" href="/images/transactions.png" rel="frontpage-images"><img src="/images/transactions-thumbnail.png" width="300" /></a></div></div>
	
	<div class="clear"></div> -->
	
	<div class="grid_12">
		<!--
		<h4>Unik understøttelse for emails</h4>
		<p>
			Hurtigmoms har en unik funktion der gør det muligt at kigge intelligent på 
			mails du videresender til os. Hvis du fx sender din månedlige "Basecamp" 
			faktura udtrækkes automatisk faktura dato, beløb, valuta samt beskrivelse 
			fra mailen og denne indsættes som en ny postering på dit regnskab. Vi sætter
			endda typen som værende "Varekøb, udland" så moms ikke bliver tillagt.
		</p>

		<p>
		  Indtil videre understøttes Harvest, GitHub, Campaign Monitor, GratisDNS, 
		  Basecamp og Spotify, men der tilføjes nye hver dag. Skriv til os hvis du 
		  ønsker at din mail kan forstås af hurtigmoms.
		</p>
		-->
	</div>

	<div class="clear"></div>
	
	<div id="f">
		<ul>
			<li><%= link_to('Sikkerhed', privacy_path) %></li>
		</ul>
		<div>
			<%= link_to('Hjælp', help_path) %><br />
			<%= t('application.name') %> er udviklet er <a href="http://commanigy.com" title="Commanigy">Commanigy</a>
		</div>
	</div>
	
	<%- content_for :js do -%>
		$("a.elastic").fancybox({
			"titleShow"     : false,
			"transitionIn"	: "elastic",
			"transitionOut"	: "elastic"
		});
	<%- end -%>
	
</div>