<tr id="<%= dom_id(transaction) %>" class="transaction row-editing">
	<td colspan="5">
		<div class="box">
		<% form_for([transaction.fiscal_year, transaction], :html => {:autocomplete => 'off'}) do |f| -%>
			<%= f.error_messages %>
			
			<table>
				<tr>
					<td>
						<fieldset>
							<%= f.label :transaction_type, t('transaction.transaction_type') + ' <span class="req">*</span>' %>
							<%= f.select :transaction_type, transaction_types, {:prompt => "Vælg type"}, :class => 'standard-field' %>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :created_at, t('transaction.created_at') + ' <span class="req">*</span>' %>
							<%= date_select :transaction, :created_at, {}, :class => 'standard-field' %><a id="date-pick" href="#"><%= image_tag('calendar-select.png', :width => 16, :height => 16, :alt => t('transaction.created_at')) %></a>
							<p class="hint">Fakturadato eller betalingsdato</p>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :customer_name, t('transaction.customer_id') %>
							<%= f.text_field :customer_name, :class => 'search-field standard-field' %>
							<p class="hint">Indtast del af kundenavnet</p>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :attachment_no, t('transaction.attachment_no') %>
							<%= f.text_field :attachment_no, :size => 4, :maxlength => 4, :class => 'standard-field' %>
							<%- unless transaction.annexes.empty? -%>
								<p class="hint">
								<%- transaction.annexes.each_with_index do |a, index| -%>
									<%# link_to(index + 1, download_fiscal_year_transaction_annex_path(current_user.active_fiscal_year, transaction, a)) %>
									<%= link_to(index + 1, fiscal_year_transaction_annex_path(current_user.active_fiscal_year, transaction, a)) %>
								<%- end -%>
								</p>
							<%- end -%>
						</fieldset>
					</td>
					<td>
						<fieldset>
							<%= f.label :amount, t('transaction.amount') + ' <span class="req">*</span>' %>
							<%= f.text_field :amount, :size => 10, :maxlength => 10, :class => 'amount-no-vat decimal standard-field' %> <%= f.select :currency, Currency::SUPPORTED, {}, :class => 'standard-field' %>
							<p class="hint"><%= t('transaction.including_vat') %></p>
						</fieldset>
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<fieldset>
							<%= f.label :note, t('transaction.note') %>
							<%= f.text_area :note, :rows => 2, :cols => 60, :class => 'standard-field', :style => "width: 927px; height: 50px" %>
							<p class="hint">Kun første linie vises i oversigten</p>
						</fieldset>
					</td>
				</tr>
			</table>
			
			<div class="inline-buttons">
				<%- if transaction.new_record? -%>
				  <%= f.submit t('.buttons.save') %> <%= link_to(t('buttons.close'), fiscal_year_transactions_path(current_user.active_fiscal_year), :class => 'close', :accesskey => 'S') %>
				<%- else -%>
					<%= f.submit t('.buttons.save') %> <%= link_to t('buttons.close'), fiscal_year_transaction_path(current_user.active_fiscal_year, transaction, :format => :js), :class => 'show', :accesskey => 'S' %>
					
					<div class="inline-actions">
						<div class="delete-question"><%= t('.delete_transaction', :delete_link => link_to(t('buttons.delete'), [current_user.active_fiscal_year, transaction], :class => 'delete')) %></div>
						<div class="delete-confirmation"></div>
					</div>
				<%- end -%>
			</div>
		<%- end -%>
		</div>
	</td>
</tr>