<%- @meta = { :title => t('.title'), :description => t('.description') } -%>

<div id="page-header" class="grid_12">
	<!-- <h1><%= t('.title') %><span>Endnu ikke bogførte transaktioner</span></h1> -->
	<div class="grid_9 alpha">
		<%- form_tag request.path, :method => 'get' do -%>
			<div id="transactions-search">
				<div id="transactions-search-simple" class="pane">
					<h4>Søg efter transaktioner</h4>
					<fieldset>
						<%= text_field_tag :search, params[:search], :autocomplete => :off %> <div id="spinner">søger...</div>
						<!-- <p class="info">eller <a href="#" class="toggle">søg i dato-interval eller efter type</a></p> -->
					</fieldset>
				</div>
				<div id="transactions-search-advanced" class="pane">
					<h4>Filtrer transaktioner</h4>
					<fieldset>
						<label for="">Dato interval</label>
						<%= select_date @start_date, :prefix => 'start_date', :prompt => true %> - <%= select_date @end_date, :prefix => 'end_date', :prompt => true %>
					</fieldset>
					<fieldset>
						<label for="">Transaktionstype</label>
						<%= select_tag 'transaction_type', options_for_transaction_types(@transaction_type) %>
					</fieldset>
					<fieldset>
						<label for="">&nbsp;</label>
						<%= submit_tag 'Filter' %>
						<p class="info">eller <a href="#" class="toggle">benyt fritekstsøgning</a></p>
					</fieldset>
				</div>
			</div>
		<%- end -%>
	</div>
	<div class="grid_3 omega">
		<%= link_to t('.buttons.add'), new_fiscal_year_transaction_path(current_user.active_fiscal_year), { :class => 'button show', :id => 'add-new-transaction' } %>
	</div>
</div>

<div class="grid_12">
	<%- if @transactions.any? -%>
		<table id="transactions" class="editable-table simple">
			<thead>
				<tr>
					<th class="drag-handle"><div style="width: 8px; height: 1px; overflow: hidden">&nbsp;</div></th>
					<th class="created_at"><%= t('transaction.created_at') %></th>
					<th class="note"><%= t('transaction.note') %></th>
					<!-- <th class="income"><span class="income"><%= t('transaction.amount_in') %></span></th>
					<th class="expense"><span class="expense"><%= t('transaction.amount_out') %></span></th> -->
					<th><%= t('transaction.amount') %></th>
				</tr>
			</thead>
			<tbody>
				<%= render @transactions %>
				<%# render :partial => 'grouped', :collection => @transactions %>
			</tbody>
			<%- if @transactions.total_pages > 1 -%>
			<tfoot>
				<tr>
					<td colspan="6"><%= will_paginate :previous_label => t('pagination.previous'), :next_label => t('pagination.next') %></td>
				</tr>
			</tfoot>
			<%- end -%>
		</table>
	<%- else -%>
		<p>
			De har ingen registrerede posteringer.
		</p>
		
		<table id="transactions" class="editable-table"></table>
	<%- end -%>
	
	<div id="transactions-search-empty">
		Der er ingen transaktioner der matcher søgekriteriet.
	</div>
</div>

<!-- <div class="grid_3">
	<div id="page-actions">
		<ul>
			<li class="separator">Transaktioner</li>
			<%= link_to 'Tilføj salg', new_fiscal_year_transaction_path(current_user.active_fiscal_year), { :class => 'button show income' } %>
			<%= link_to 'Tilføj køb', new_fiscal_year_transaction_path(current_user.active_fiscal_year), { :class => 'button show expense' } %>
			<%= link_to 'Tilføj betaling', new_fiscal_year_transaction_path(current_user.active_fiscal_year), { :class => 'button show payment' } %>
		
			<li><%= link_to t('.buttons.add'), new_fiscal_year_transaction_path(current_user.active_fiscal_year), { :class => 'button show', :id => 'add-new-transaction' } %></li>
			<%= link_to 'Import postings', new_posting_import_path, { :class => 'button' } %>
		</ul>
	</div>
</div> -->

<%- content_for :js do -%>
	hurtigmoms.transactions = [<%= @transactions.collect { |t| t.id }.join(',') %>];
	
//	$.poll(30000, function(retry) {
//		$.get('<%= ping_fiscal_year_transactions_path(current_user.active_fiscal_year) %>', null, null, "script");
//		retry();
//	});
	
	$("#transactions-search").toggleable();
	
	$("#transactions-search #search").delayedObserver(function(d, e) {
		$("#spinner").show();
		$("#transactions").addClass("filtering");
		$.get("<%= search_fiscal_year_transactions_path(current_user.active_fiscal_year) %>", $(this).closest("form").serialize(), null, "script");
	});
	
//	$("#transactions .transaction.pay td.note").live("mouseover", function() {
//		if (!$(this).data("init")) {
//			$(this).data("init", true);
//			$(this).draggable({
//				cancel: 'a.ui-icon',// clicking an icon won't initiate dragging
//				revert: 'invalid', // when not dropped, the item will revert back to its initial position
//				helper: 'clone',
//				cursor: 'move'
//			});
//		}
//	});

	$("#transactions tr.transaction.pay").live("mouseover", function() {
		if (!$(this).data("init")) {
			$(this).data("init", true);
			$(this).draggable({
				cancel: 'a.ui-icon',// clicking an icon won't initiate dragging
				handle: '.drag-handle',
				revert: 'invalid', // when not dropped, the item will revert back to its initial position
				helper: 'clone',
				cursor: 'move'
			});
		}
	});

	$("#transactions .transaction.buy, #transactions .transaction.sell").droppable({
		accept: '#transactions .transaction.pay',
		hoverClass: 'drophover',
		drop: function(ev, ui) {
			var transaction_id = $(this).attr("id").replace(/transaction_/, '');
			var related_transaction_id = ui.draggable.attr("id").replace(/transaction_/, '');
			var url = '<%= fiscal_year_transaction_equalizations_path(current_user.active_fiscal_year, 0) %>'.replace(/\/0\//, '/' + transaction_id + '/');
			$.post(url, { 'equalization[transaction_id]': transaction_id, 'equalization[related_transaction_id]': related_transaction_id }, null, "script");
		}
	});
	
	$("#search").focus();

<%- end -%>

<!-- <div class="grid_3">
	<div class="sidebar">
		<h3>Hvordan opretter jeg en postering?</h3>
		<div>
			<p>Den nemmeste måde er at sende en mail til bilag@hurtigmoms.dk
			med dit bilag for posteringen. Et sted i mailen kan du benytte
			følgende felter</p>
			<p>
				<code>
					DATE:    [YYYY-MM-DD]<br/ >
					AMOUNT:  [250 DKK]<br />
					ACCOUNT: [Varekøb]<br />
					NOTE:    [Køb af frimærker]<br />
				</code>
			</p>

			<p>
				Systemet forstår også en mere naturlig beskrivelse af dit
				bilag, fx kan du i "Emne" feltet skrive tekster såsom <code>
				"Køb af frimærker til 500DKK"</code> for at oprette en 
				postering der vil registrere et køb af frimærker på 500,-
				inkl. moms.
			</p>

			<p>
				Kan systemet ikke gætte hvordan bilaget skal tolkes, vil den
				blive registreret i systemet på dags dato med emne feltet 
				brugt som "Tekst" på posteringen. Posteringen vil herefter
				være i en "kræver handling" state.
			</p>
		</div>
	</div>
</div> -->