<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Fiscal year</th>
    <th>Transaction type</th>
    <th>Account</th>
    <th>Amount</th>
    <th>Note</th>
    <th>Attachment no</th>
    <th>Attachment</th>
    <th>External data</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%=h transaction.fiscal_year_id %></td>
    <td><%=h transaction.transaction_type %></td>
    <td><%=h transaction.account_id %></td>
    <td><%=h transaction.amount %></td>
    <td><%=h transaction.note %></td>
    <td><%=h transaction.attachment_no %></td>
    <td><%=h transaction.attachment_id %></td>
    <td><%=h transaction.external_data %></td>
    <td><%= link_to 'Show', transaction %></td>
    <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
    <td><%= link_to 'Destroy', transaction, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New transaction', new_transaction_path %>