<p>
  <b>Fiscal year:</b>
  <%=h @transaction.fiscal_year_id %>
</p>

<p>
  <b>Transaction type:</b>
  <%=h @transaction.transaction_type %>
</p>

<p>
  <b>Account:</b>
  <%=h @transaction.account_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @transaction.amount %>
</p>

<p>
  <b>Note:</b>
  <%=h @transaction.note %>
</p>

<p>
  <b>Attachment no:</b>
  <%=h @transaction.attachment_no %>
</p>

<p>
  <b>Attachment:</b>
  <%=h @transaction.attachment_id %>
</p>

<p>
  <b>External data:</b>
  <%=h @transaction.external_data %>
</p>


<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>