<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= title -%></title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="description" content="<%=h description %>" />
		<%= javascript_include_tag('jquery-1.3.2.min', 'jquery-ui.min', 'jquery.form', 'date', 'date_da', 'jquery.datePicker.min-2.1.2', 'jquery.autocomplete', 'application', :cache => true) %>
		<%= stylesheet_link_tag('reset', 'text', '960', 'datePicker', 'autocomplete', 'base', :cache => true) %>
		<%= yield :head -%>
	</head>
	
	<body>
		<div id="h" class="menubar">
			<div class="container_12">
				<div class="grid_6 navigation">
					<%- if signed_in? -%>
						<ul>
							<li class="application-name"><%= company_title %></li>
							<%= menu_tag(t('.home'), root_path) %>
							<%= menu_tag(t('.postings'), postings_path) %>
							<%= menu_tag(t('.accounts'), accounts_path) %>
							<%= menu_tag(t('.reports'), reports_path) %>
							<%= menu_tag(t('.customers'), customers_path) %>
						</ul>
					<%- else -%>
						<ul>
							<li class="application-name"><%= t('application.name') %></li>
						</ul>
					<%- end -%>
				</div>
				<div class="grid_6 search">
					<%- if signed_in? -%>
						<ul>
							<%= menu_tag(t('.sign_out'), sign_out_path) %>
							<!-- soon <li><div><form method="get"><input type="text" autocomplete="off" size="25" maxlength="100" placeholder="Search" title="Search" value="" tabindex="1" results="0" name="q" id="q"/></form></div></li> -->
							<%= menu_tag(t('.help'), help_path) %>
							<%= menu_tag(t('.settings'), edit_user_path(current_user)) %>
						</ul>
					<%- else -%>
						<%= render :partial => 'shared/navigation' %>
					<%- end -%>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="container_12">
			<div id="c">
				<div class="flash"><%= flash[:success] || flash[:failure] || flash[:notice] || flash[:error] %></div>
				
				<!-- <%- unless @meta.nil? || @meta[:title].blank? || @meta[:blank_header] -%>
					<h1><%= @meta[:title] %><span class="description"><%= @meta[:description] %></span></h1>
				<%- end -%> -->
				
				<%= yield %>
				
				<div class="clear"></div>
			</div>
			<div id="f">
				
			</div>
		</div>		
	</body>
</html>