<!DOCTYPE html>
<html>
	<head>
		<title><%= title -%></title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="description" content="<%=h description %>" />
		<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
		<%= csrf_meta_tags %>
		<%= javascript_include_tag('jquery-1.4.2.min', 'jquery-ui.min', 'jquery.ui.datepicker-da', 'jquery.form', 'date', 'date_da', 'jquery.autocomplete.pack', 'jquery.numberformatter-1.1.2', 'application') %>
		<%= stylesheet_link_tag('reset', 'text', '960', 'datePicker', 'autocomplete', 'base') %>
		<%= yield :head -%>
		<script type="text/javascript">
			$(function() {
				<%= yield :js -%>
			});
		</script>
	</head>
	
	<body>
		<div id="h" class="menubar">
			<div class="container_12">
				<div class="grid_6 navigation">
					<% if signed_in? %>
						<ul>
							<!-- <li style="float: right"><%= link_to(h(current_user.active_fiscal_year.name), current_user.active_fiscal_year) %> <span>for <%=h company_title %></span></li> -->
							<!-- <li class="application-name"><%=h current_user.active_fiscal_year.name + ' for ' + company_title %></li> -->
							<%= menu_tag(t('.home'), overview_path) %>
							<%= menu_tag(t('.transactions'), fiscal_year_transactions_path(current_user.active_fiscal_year)) %>
							<%# menu_tag(t('.accounts'), accounts_path) %>
							<%# menu_tag(t('.reports'), reports_path) %>
							<%= menu_tag(t('.customers'), customers_path) %>
						</ul>
					<% else %>
						<ul>
							<li class="application-name"><%= link_to(t('application.name'), '/') %></li>
						</ul>
					<% end %>
				</div>
				<div class="grid_6 search">
					<% if signed_in? %>
						<ul id="nav">
							<li class="account"><%= link_to(t('.account'), settings_path) %>
								<ul>
									<%= menu_tag(t('.settings'), settings_path) %>
									<%= menu_tag(t('.help'), help_path) %>
									<%= menu_tag(t('.sign_out'), sign_out_path) %>
								</ul>
								</li>
						</ul>
					<% end %>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		
		<%- if flash[:success] || flash[:failure] || flash[:notice] -%>
			<div class="container_12">
  			<div id="flash" class="grid_12 <%= flash.keys.to_s %>">
					<%= flash[:success] || flash[:failure] || flash[:notice] %>
				</div>
			</div>
		<%- end -%>
		
		<div class="container_12">
			<div id="c">
				<%= yield %>
				
				<div class="clear"></div>
			</div>
			<div id="f">
				<ul>
					<li><%= link_to(t('.help'), help_path) %></li>
					<li><%= link_to(t('.security'), privacy_path) %></li>
				</ul>
				<div>
					Intelligent bogføring for mindre virksomheder<br />
					<b><%= t('application.name') %></b> er udviklet af <a href="http://commanigy.com" title="Commanigy">Commanigy</a>
				</div>
			</div>
		</div>
	</body>
</html>