<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= title -%></title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="description" content="<%=h @description %>" />
		<%= javascript_include_tag('jquery-1.4.2.min', 'jquery-ui.min', 'jquery.form', 'application', :cache => false) %>
		<script type="text/javascript" src="/javascripts/fancybox/jquery.mousewheel-3.0.2.pack.js"></script>
		<script type="text/javascript" src="/javascripts/fancybox/jquery.fancybox-1.3.0.pack.js"></script>
		<link rel="stylesheet" type="text/css" href="/javascripts/fancybox/jquery.fancybox-1.3.0.css" media="screen" />
		<%= stylesheet_link_tag('reset', 'text', '960', 'base', 'frontpage', :cache => false) %>
		<%= yield :head -%>
		<script type="text/javascript">
			$(document).ready(function() {
				<%= yield :js -%>
			});
		</script>
	</head>
	
	<body class="frontpage">
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-617778-15']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
		  })();
		</script>

		<%= yield %>
	</body>
</html>