<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= @title -%></title>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="description" content="<%=h @description %>" />
		<%= javascript_include_tag('jquery-1.3.2.min', 'application', :cache => true) %>
		<%= stylesheet_link_tag('reset', 'text', '960', 'base', :cache => true) %>
		<%= yield :head -%>
	</head>
	
	<body class="frontpage">
		<div id="h" class="menubar">
			<div class="container_12">
				<div class="grid_6 navigation">
					<ul>
						<li class="application-name"><%= t('application.name') %></li>
					</ul>
				</div>
				<div class="grid_6 search">
					
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="container_12">
			<div id="c">
				<div class="flash"><%= flash[:success] || flash[:failure] || flash[:notice] || flash[:error] %></div>
				
				<%= yield %>
				
				<div class="clear"></div>
			</div>
		</div>		
	</body>
</html>