<% form_for(account, :html => {:autocomplete => 'off'}) do |f| -%>
	<%= error_messages_for :account %>

	<%= f.text_field :name, :size => 20, :maxlength => 128 %>

	<%= f.select :account_type, [['Købskonto', '1'], ['Salgskonto', '2']], {:prompt => "Vælg type"} %>
	<%= f.select :vat_type, [['Momsfrit', '1'], ['Dansk moms 25%', '2'], ['Varekøb i udlandet', '3']], {:prompt => "Vælg momstype"} %>

	<%= submit_tag("Tilføj") %></td>
<% end -%>