<%- @meta = { :title => t('.title'), :description => t('.description') } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<div class="grid_12">
	<div class="quick-buttons">
		<%= link_to 'Tilføj konto', new_account_path, :class => 'button show' %>
		<%= link_to 'Tilføj bankkonto', '#', :class => 'button' %>
	</div>
	
	<table id="accounts" class="editable-table">
		<thead>
			<tr>
				<th><%= t('account.account_no') %></th>
				<th><%= t('account.name') %></th>
				<th><%= t('account.account_type') %></th>
				<th><%= t('account.vat_type') %></th>
			</tr>
		</thead>
		<tbody>
      <%= render @accounts %>
		</tbody>
	</table>
</div>