<%- @meta = { :title => t('.title'), :description => t('.descriptino') } -%>
<h1><%= t('.title') %><span><%= t('.description') %></span></h1>

<div class="grid_9">
	<%= render :partial => 'new', :locals => { :account => @account } %>

	<% form_for(@account) do |f| %>
	<table>
		<thead>
			<tr>
			  <th></th>
				<th><%= t('account.account_no') %></th>
				<th><%= t('account.name') %></th>
				<th><%= t('account.account_type') %></th>
				<th><%= t('account.vat_type') %></th>
				<th><%= t('account.revenue') %></th>
			</tr>
		</thead>
		<tbody>
      <%= render @accounts %>
		</tbody>
	</table>
	<%- end -%>
</div>

<div class="grid_3">
	<div class="sidebar">
		<h3>Hvordan opretter jeg en konto?</h3>
		<div>
			TBD
		</div>
	</div>
</div>